@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

body {
    background-color: #f9f9f9;
}

.revealHorizontal {
    transform: translateX(-150px);
    opacity: 0;
    transition: .5s all ease-in-out;
}

.revealHorizontal.active {
    transform: translateX(0);
    opacity: 1;
}